#canvas {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	pointer-events: none;
    padding: 0;
}

p {
	text-align:center;
}

img {
	display: none;
}

body {
    margin: auto; 
    background-image: url("img/space.jfif");
    padding: 0;
}



html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding: 0;
}
